<div class="container h5" style="color: black(179, 147, 118)"> <br>
        Information Technology courses are an excellent choice to help advance your career. Whether you are seeking professional development, new skills, or a new career, information technology courses can help you become a more competitive and valuable employee with important skills. 
        There are academic institutions located around the world offering information technology courses through programs that include online and classroom education. <br>
    <br>
    <h4 class="h4" style="color: rgb(87, 148, 240)"> List of Courses: </h4><br>
    <div class="container h4">
    <p><i class="fab fa-java"></i><label>Java</label></p>
    <p><i class="fab fa-python"></i><label>Python</label></p>
        
    <p><i class="fab fa-angular"></i><label>Angular</label></p>
     <p><i class="fab fa-node-js"></i><label>Node JS</label></p>
    </div>
    </div>