.card-body
{
    padding-block-start: 20px;
    background-color: aliceblue
   
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 80%;
}

.p{
    color: black;
    font-size: 25px;
}