<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid full">
  <img src="../assets/learn_from_india_logo-1.png" style="width:100%; max-height: 150px;">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <div class="container col-12" style="padding-left: 0; padding-right: 0">

    <div class="text-center">


      <nav class="navbar navbar-expand-lg navbar-dark primary-color nav-justified"
        style="background-color: indianred(157, 159, 161)">
        <a class="nav-item " routerLink="home">Home</a>
        <a class="nav-item " routerLink="about">About</a>
        <a class="nav-item " routerLink="courses">Courses</a>
        <a class="nav-item " routerLink="pretest">Pretest</a>
        <a class="nav-item " routerLink="registration">Registration</a>
        <a class="nav-item " routerLink="contacts">Contacts</a>
      </nav>
    </div>
    <div class="row">
      <section class="col-2 section1" style="height: 500px; font-style: italic; color: firebrick"><br>
        <p class="h5">Name: <br>Atul Mahajan</p>
        <p class="h5">Mobile No: 8126614562</p>
        <p class="h5">Email No: abc@gmail.com</p>
      </section>
      <section class="col-8 section2">
        <router-outlet></router-outlet>
      </section>
      <section class="col-2 section1"><br>
        <div class="embed-responsive embed-responsive-1by1">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
            allowfullscreen></iframe>
        </div>
      </section>
    </div>
  </div>
  <div class="footer">
    <footer class="page-footer font-small cyan darken-3 footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 py-4">
            <div class="mb-15 flex-center">

              <a href="https://www.facebook.com" class="fb-ic">
                  <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a  href="https://twitter.com" class="tw-ic">
                <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a  href="https://googleplus.com" class="gplus-ic">
                <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a  href="https://linkedin.com" class="li-ic">
                <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a href="https://instagram.com" class="ins-ic">
                <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
              </a>
              <a href="https://pinterest.com" class="pin-ic">
                <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> Atulmahajan.com</a>
      </div>

    </footer>
  </div>
</div>